@media screen and (min-width : 768px) {
    .section-heading h2 {
        font-size: 40px;
        margin: 26px 0;
    }
    
    .container {
        width: 720px;
    }


    .about-img {
        width: 47%;
    }
    .about-img img {
        width: 99%;
    }
    .about-content {
        width: 53%;
        padding-left: 10px;
    }
    .about-content h2 {
        margin-top: 0;
    }
    .about-info li {
        font-size: 14px;
        display: inline-block;
        width: 49%;
    }
    .about-img .social a {
        left: 10%;
    }


    .service-item , .blog-item , .portfolio-item {
        width: 50%;
    }
    .info-item {
        width: 25%;
    }


    .testimonial .card-img {
        width: 20%;
    }
    .testimonial .card-content {
        width: 80%;
    }


    .blog-item {
        padding: 0 10px;
    }


    .form-group .form-control {
        width: 49%;
    }
    .form-group .second-input {
        float: right;
    }
}

@media screen and (min-width : 992px) {
    body {
        line-height: 28px;
    }
    .container {
        width: 920px;
    }


    .about {
        padding: 90px 0 40px;
    }
    .about-img {
        width: 37%;
    }
   .about-img::after {
    content: '';
    position: absolute;
    top : -20px ;
    left: -20px;
    right: 20px;
    bottom: 20px;
    border-radius: 4px;
    border: #555 solid 8px;
    z-index: -1;
    }
    .about-content {
        width: 63%;
        padding-left: 50px;
    }
    .about-content h2 {
        font-size: 36px;
        margin-bottom: 18px;
    }
    .about-info li {
        font-size: 16px;
    }


    .service-item {
        width: 25%;
    }


    .blog-item , .portfolio-item  {
        width: 33.33333%;
    }


    .testimonial-card , .contact-form form{
        width: 750px;
        margin: 40px auto;
    }

}

@media screen and (min-width : 1200px) {
    .container {
        width: 1140px;
    }


    .about-img {
        width: 35%;
    }
    .about-content {
        width: 62%;
    }
    .about-img .social a {
        left: 17%;
    }

    .testimonial-card , .contact-form form{
        width: 900px;
        margin: 40px auto;
    }
    .testimonial-client .card-img img {
        width: 110px;
    }
}